<!--Create Basic html layout-->

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="css/app.css" rel="stylesheet" />

    <title>Home</title>
  </head>

  <body>
    <h1 id="title">To Meme OR not Meme?</h1>

    <div id="card">
      <img id="meme" src="" alt="meme image" href="#/>

      <div id="meme-text">
        <h2 id="top-text"></h2>
      </div>

      <p id="small-title"></p>
    </div>

    <script defer src="js/app.js"></script>
  </body>

</html>